Importing Required Libraries

Name: Muhammad Haris
Roll No: BSAI:035

In [201]:
import pandas as pd

Creating DFA Class

In [202]:
class DFA():
    alphabets = []
    states = []
    intial_state = ""
    final_states = []
    transition_table = 0
    
    
    def __init__(self,states = [],alp = [],transition = 0,intial = "a", final = []):
        self.states = states
        self.alphabets  = alp
        self.intial_state = intial
        self.final_states = final 
        self.transition_table = transition
    
    def display(self):
        print("alphabets:",self.alphabets)
        print("finite states:",self.states)
        print("intial state:",self.intial_state)
        print("final states:",self.final_states)
        print("transition tabel:\n",self.transition_table)
    
    def perform_transitions(self,string = "10"):
        current_state = self.intial_state
        for element in string:
            if element not in self.alphabets:
                return -1
            current_state = self.transition_table.at[list(self.transition_table["State"]).index(current_state),element]
        if current_state in self.final_states:
            return 1
        else:
            return 0

Creating Transition Tables for all DFA's

In [203]:

data={'State':['q0','q1','q2','q3'],'0':['q1','q0','q3','q2'],'1':['q3','q2','q1','q0']}
transition_table1=pd.DataFrame(data,index=None)
transition_table1 

data={'State':['q0','q1','q2','q3','q4'],'0':['q3','q1','q2','q4','q4'],'1':['q1','q2','q2','q3','q4']}
transition_table2=pd.DataFrame(data,index=None)
transition_table2

data={'State':['q0','q1','q2','q3'],'a':['q2','q3','q3','q3'],'b':['q2','q2','q3','q3'],'c':['q1','q2','q3','q3']}
transition_table3=pd.DataFrame(data,index=None)

In [204]:
transition_table1

  State   0   1
0    q0  q1  q3
1    q1  q0  q2
2    q2  q3  q1
3    q3  q2  q0

In [205]:
transition_table2

  State   0   1
0    q0  q3  q1
1    q1  q1  q2
2    q2  q2  q2
3    q3  q4  q3
4    q4  q4  q4

In [206]:
transition_table3

  State   a   b   c
0    q0  q2  q2  q1
1    q1  q3  q2  q2
2    q2  q3  q3  q3
3    q3  q3  q3  q3

DFA - 1

In [207]:

alphabets = ['0','1']
states = list(transition_table1["State"])
intial_state = "q0"
final_states = ["q0"]

dfa_1=(DFA(states,alphabets,transition_table1,intial_state,final_states))
dfa_1.display()

alphabets: ['0', '1']
finite states: ['q0', 'q1', 'q2', 'q3']
intial state: q0
final states: ['q0']
transition tabel:
   State   0   1
0    q0  q1  q3
1    q1  q0  q2
2    q2  q3  q1
3    q3  q2  q0

DFA - 2

In [208]:
alphabets = ['0','1']
states = list(transition_table2["State"])
intial_state = states[0]
final_states = ['q2','q4']

dfa_2=(DFA(states,alphabets,transition_table2,intial_state,final_states))
dfa_2.display()

alphabets: ['0', '1']
finite states: ['q0', 'q1', 'q2', 'q3', 'q4']
intial state: q0
final states: ['q2', 'q4']
transition tabel:
   State   0   1
0    q0  q3  q1
1    q1  q1  q2
2    q2  q2  q2
3    q3  q4  q3
4    q4  q4  q4

DFA - 3

In [209]:
alphabets = ['a','b','c']
states = list(transition_table3["State"])
intial_state = states[0]
final_states = ["q2"]

dfa_3=(DFA(states,alphabets,transition_table3,intial_state,final_states))
dfa_3.display()

alphabets: ['a', 'b', 'c']
finite states: ['q0', 'q1', 'q2', 'q3']
intial state: q0
final states: ['q2']
transition tabel:
   State   a   b   c
0    q0  q2  q2  q1
1    q1  q3  q2  q2
2    q2  q3  q3  q3
3    q3  q3  q3  q3

< Reading String from file >

In [210]:
strings_01 = pd.read_csv("strings_01.csv")
strings_abc = pd.read_csv("strings_abc.csv")

< Check Strings >

In [232]:
dfaT = [dfa_1,dfa_2]
i=1   
for dfa in dfaT:

    for string in strings_01["String"]:
        
        flag = dfa.perform_transitions(string)
        if flag == -1:
            print(string,"!~!Please use valid string!~!")
        elif flag == 0:
            True
            print(string,":- Not Accepted")
        else:
            print(string,":- Accepted")
        
    print("/\n##########################\nEnd of DFA",i,"\n##########################\n")  
    i=i+1

aabb !~!Please use valid string!~!
0011 :- Accepted
0101 :- Accepted
1110 :- Not Accepted
0011 :- Accepted
0101 :- Accepted
0110 :- Accepted
020 !~!Please use valid string!~!
0000 :- Accepted
0111001 :- Not Accepted
00100 :- Not Accepted
001 :- Not Accepted
001001 :- Accepted
110011 :- Accepted
110101 :- Accepted
/
##########################
End of DFA 1
##########################

aabb !~!Please use valid string!~!
0011 :- Accepted
0101 :- Accepted
1110 :- Accepted
0011 :- Accepted
0101 :- Accepted
0110 :- Accepted
020 !~!Please use valid string!~!
0000 :- Accepted
0111001 :- Accepted
00100 :- Accepted
001 :- Accepted
001001 :- Accepted
110011 :- Accepted
110101 :- Accepted
/
##########################
End of DFA 2
##########################

In [236]:
for string in strings_abc["String"]:

    flag = dfa_3.perform_transitions(string)
    if flag == -1:
        print(string,"!~!Please use valid string!~!")
    elif flag == 0:
        True
        print(string,":- Not Accepted")
    else:
        print(string,":- Accepted")
    
print("/\n##########################\nEnd of DFA",3,"\n##########################\n")

a :- Accepted
b :- Accepted
c :- Not Accepted
aabbbc :- Not Accepted
cb :- Accepted
aabb :- Not Accepted
bbcc :- Not Accepted
aabb :- Not Accepted
abab :- Not Accepted
ababb :- Not Accepted
2 !~!Please use valid string!~!
0101001 !~!Please use valid string!~!
aa :- Not Accepted
acca :- Not Accepted
cc :- Accepted
caaab :- Not Accepted
/
##########################
End of DFA 3
##########################